*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus { 
  outline: 0;
}

body {
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  &:active, &:hover {
    outline: 0;
  }
}

input {
  outline: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
}

textarea {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


h1, h2, h3, h4, h5, h6 { 
  margin: 0;
  font-size: 100%;
  font-weight: normal; 
}


// Table
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; text-align: left; }

