@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";

@import "utils/fonts";  //or
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic-ext');

@import "utils/reset";

//подключение scss-модулей:
//@import "modules/footer.scss";- в конце файла
//@import "modules/header.scss";- в конце файла


html {
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}



// подключение Modules
 @import "modules/footer.scss";

//для последующего использования переменной fffsss в JS
:export {
  fffsss:  $mainFontSize;
}

