@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";

@import "utils/fonts";  //or
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic-ext');

@import "dounCSS";      // без ./ и без .css(!).  Импортировать в НАЧАЛЕ main.scss




html {
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $mainFontColor;

  @media (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media (max-width: $phoneWidth) {
		font-size: 14px;
  }
}



//подключение scss-модулей:

@import "modules/footer.scss";         // совершаем в конце файла
@import "modules/header.scss";         // совершаем в конце файла




//Заявляем переменную varFromCSS для последующего ее использования в JS

:export {
  varFromCSS:  $mainFontSize;
}

