
............................................................
// px to rem
//from http://codepen.io/jellevezzijden/pen/xGYZYV
//что бы не расчитывать, сколько rem надо указать, что бы в результате получить шрифт данного размера в px

$mainFontSize: 14;

@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

//используем
//ввели 20px, он перерасчитался в rem относительно $mainFontSize и далее будет работать как значение в rem
.class {
  font-size: rem(20);
}


.............................................................
@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}
//в CSS пишем:
//size(100%, 80%)
//size(100%)


.............................................................
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
//в CSS пишем:
//placeholder(content)
